body {
  margin: 0;
}

.container {
  background-color: aqua;
  height: 100vh;
}

.box {
  background-color: brown;
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Using grid
.container {
  background-color: aqua;
  height: 100vh;
  display: grid;
  place-items: center;
}
*/

/* using flex 
  display: flex;
  justify-content: center;
  align-items: center;
*/
