body {
  margin: 0;
}

.container {
  background-color: aqua;
  height: 100vh;
}

.box {
  background-color: brown;
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
