body {
  margin: 0;
}

/* Using transform */
/* .container {
  background-color: aqua;
  height: 100vh;
} 
.box {
  background-color: brown;
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

/* Using grid */
/* .container {
  background-color: aqua;
  height: 100vh;
  display: grid;
  place-items: center;
}
.box {
  background-color: brown;
  height: 200px;
  width: 200px;
} */

/* Using flex  */
/* .container {
  display: flex;
  height: 100vh;
  background-color: aqua;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: brown;
  height: 200px;
  width: 200px;
} */

/* Using relative positioning */
/* .container {
  height: 100vh;
  background-color: aqua;
}

.box {
  height: 200px;
  width: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: brown;
} */

/* Using margin auto */
.container {
  height: 100vh;
  background-color: aqua;
  display: flex;
}
.box {
  height: 200px;
  width: 200px;
  background-color: brown;
  margin: auto;
}
